# Auto detect text files and perform LF normalization
* text=auto
*.bundle filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
CyberED/Assets/Firebase/Plugins/x86_64/* filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-12_8_0.* filter=lfs diff=lfs merge=lfs -text
